
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}


header {
  background-color: #0a3d62;
  top: 0;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(25,25,10 );
 
}
.nav-bar {
  position: sticky;
  z-index: auto;
}
.ksam-logo{
float: left;
}.inc{
  color: #9c4905;
  font-family: monospace;
}
header h1 {
  margin-bottom: 10px;
  font-size: 26px;
}


nav {
  margin-top: 10px;
}

nav a  {
  color: #ffffff;
  text-decoration: none;
  margin: 0 8px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
  color: black;
  background-color:#f1c40f ;
  border-radius: 2px;
  transition: 1s ease-in-out;
  
  
}
nav a:active {
  text-decoration: none;
  color: black;
  background-color:#f1c40f ;
  border-radius: 2px;
  
}


main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.transparent{
  border: 1px solid rgb(150, 150, 151);
  width: 300px;
  border-radius: 10px;
  padding: auto;
}

section {
  margin-bottom: 30px;
}

section h2,
section h3 {
  color: #0a3d62;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 15px auto;
  border-radius: 6px;
}


main a {
  color: #0a3d62;
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #0a3d62;
  color: white;
  margin-top: 40px;
}

footer small {
  font-size: 14px;
}

.main-services{
  margin-left: 20px;
}
.personal-information{
  margin-left: 10px;
}
.container-form {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.input-text{
  width: 350px;
  height: 30px;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px solid green;
  font-size: 16;
}
label{
  margin-left: 10px;
}
.input-color{
  margin-left: 10px;
}
.input-file{
  margin-left: 10px;
}
fieldset{
  border-radius: 7px;
  color: rgb(14, 22, 22);
  border: 1px solid rgb(8, 43, 247);
}
legend{
  margin-left: 20px;
  font-style: italic;
}
.radio{
  margin-left: 10px;
}
textarea{
  margin-left: 10px;
}
button{
  width: 70px;
  height: 30px;
  cursor: pointer;
  border-radius: 7px;
}
.submit{
  background-color: rgb(128, 243, 128);
  color: #01060a;
}
.reset{
  background-color: rgb(241, 89, 89);
  color: #141516;
}

.submit:hover{
  background-color: rgb(5, 124, 5);
  color: #f4f6f8;
}
.reset:hover{
background-color: rgb(173, 7, 7);
  color: #f4f6f8;
}
.img-media{
display: inline-block;
padding: 20px;

}
.img-media:hover{
  box-shadow:7px 7px 7px rgb(82, 81, 81);
  border: 1px solid rgb(240, 7, 143);
  transform: scale(1);
 
}
video{
  border-radius: 12px;
}
i{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery{
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
